.firstcontainer_post {
    width:100vw;
    height:100vw;
    padding-top:850px;
    padding-bottom:850px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;  
}

.backhome {
    position: absolute;
    left: 130px;
    bottom: 600px;
    font-weight: 400;
    padding: 7px;
    background-color: #F8B32E;  
    border: none;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.backhome:hover {
    padding: 10px;
    transition: 0.4s;
}

.backlink {
    color: #faf0db;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.secondcontainer_post {
    width: 400px;
    height: 2000px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 62px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 0px 300px 650px 250px 100px 100px 100px;
    grid-template-areas:
    "head head head head"
    "avatar avatar avatar avatar"
    ". . . . "
    "about about about about"
    "heading heading heading heading "
    "subheading subheading subheading subheading "
    "buttoms buttoms buttoms buttoms"
    "archieves archieves archieves archieves"
    "icons icons icons icons";
    grid-row-gap: 30px;
}

.title_blog {
    text-decoration: none;
    color: black;
}

.title_blog:hover {
    color:  #18ac9be5;
}

#posttitle {
    grid-area: head;
    display: flex;
    justify-content: center;
}

#avatar {
    grid-area: avatar;
    display: flex;
    margin-left: 20px;    
}

.figure {
    display: flex;
    flex-direction: column;
}

.figurecaption{
    letter-spacing: 11px;
}

.image {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-right: 20px;   
}

.infopost {
    color: #2C3339;
}

.date {
    margin-bottom: 0;  
}

.autor {
    margin-top: 0.8px;
    margin-bottom: 0;
}

.university {
    margin-top: 0.8px;
}

#about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    border: solid #1FBBA8;
    padding: 10px;
    border-radius: 30px;
    height: 245px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    padding-top: 0;    
}

#divinfoblog {
    width: 350px;
    border-color: #1FBBA8;
}

#heading {
    grid-area: heading;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

#subheading {
    grid-area: subheading;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

#buttoms {
    grid-area: buttoms;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
}

.before {
    color: #18ac9be5;  
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
}

.after {
    color: #18ac9be5;  
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer; 
    margin-left: 10px;
}


#archieves {
    grid-area: archieves;
    margin-left: 15px;
    margin-right: 15px;        
}

.month {
    font-weight: 900;
}

#january {
    margin-right: 15px;
    color: #B0ECE5;   
}

#february { 
    margin-right: 15px; 
    color: #B0ECE5;  
}

#march {
    margin-right: 15px;
    color: #B0ECE5;    
}

#april {
    margin-right: 15px;
    color: #B0ECE5;   
} 

#may {
    margin-right: 15px;
    color:#B0ECE5;   
} 

#june {
    margin-right: 15px;
    color: #B0ECE5;    
} 

#july {
    margin-right: 15px;
    color: #B0ECE5;    
} 

#august {
    margin-right: 15px;
    color: #B0ECE5;  
} 

#september {
    margin-right: 15px;
    color: #B0ECE5;   
} 

#october {
    margin-right: 15px;
    color: #B0ECE5;   
}

#november {
    margin-right: 15px;
    color: #B0ECE5;  
}

#december {
    margin-right: 15px;
    color: #B0ECE5;
}

#footerblog {
    grid-area: icons;
    margin-left: 20px;
    cursor: pointer;
}

.iconsblog {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.iconsblog:hover {
    width: 30px;
    height: 30px;
    transition: .4s;
}

/*Devices with long screens. min 768px*/
@media screen and (max-width: 1149px) and (min-width: 768px) {


    .firstcontainer_post {
        padding-top:500px;
        padding-bottom:650px;
    }
    
    .secondcontainer_post {
        width: 600px;
        height: 2000px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 30px rgba(0, 0, 0, 0.25);
        border-radius: 62px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 0px 300px 500px 250px 80px 90px 100px;
        grid-template-areas:
        "head head head head"
        "avatar avatar avatar avatar"
        ". . . . "
        "about about about about"
        "heading heading heading heading "
        "subheading subheading subheading subheading "
        "buttoms buttoms buttoms buttoms"
        "archieves archieves archieves archieves"
        "icons icons icons icons";
        grid-row-gap: 30px;
    }

    #divinfoblog {
        width: 540px;    
    }
}

/*If screen is wide enough*/
@media screen and (min-width: 1150px) {

    .firstcontainer_post {
        padding-top:10px;
        padding-bottom:20px;      
    }

    .secondcontainer_post {
        width: 1100px;
        height: 1000px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 0px 100px 269px 130px 90px 0;
        grid-template-areas:
        "head head head head"
        "avatar avatar avatar avatar"
        ". . . . "
        "heading heading heading about"
        "heading heading heading about "
        "subheading subheading subheading archieves "
        ". . . icons"
        "buttoms buttoms buttoms buttoms";
        grid-row-gap: 30px;
    }

    #about {
        grid-area: about;
        height: 350px;
    }

    #divinfoblog {
        margin-right: 1150px;
        width: 600px;
    }

    #archieves {
        grid-area: archieves;
        margin-left: 20px;   
    }


}
